<ion-header>
  <ion-toolbar>
    <ion-title>
      {{'landing.title' | translate}}

    </ion-title>
    <ion-select slot="end" [value]="language" (ionChange)="languageChanged($event)" okText="{{'common.ok' | translate}}" cancelText="{{'common.cancel' | translate}}">
      <ion-select-option [value]="null">{{'settings.system-default' | translate}}</ion-select-option>
      <ion-select-option value="en">English</ion-select-option>
      <ion-select-option value="sk">Slovenčina</ion-select-option>
    </ion-select>
  </ion-toolbar>
</ion-header>

<ion-content text-center class="auth-form">

  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button color="primary" expand="full" color="danger" (click)="register()">{{'auth.register-title' | translate}}</ion-button>

        <span class="divider line one-line">{{ 'common.or' | translate }}</span>

        <span class="already">{{'landing.already-user' | translate}}</span>

        <ion-button color="primary" expand="full" color="primary" (click)="login()">{{'auth.login-title' | translate}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>