<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-text-center">
        <ion-col>
          <ion-label>
            Edit user
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="userForm">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">name</ion-label>
            <ion-input formControlName="name"  id="name" required name="name"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label position="floating">email</ion-label>
            <ion-input formControlName="email"  id="email" required name="email"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="apiResult.error">
        <ion-col>
          <ion-label position="floating" color="danger">{{ apiResult.error }}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="light" style='float: left;' (click)='dismiss()'>Cancel</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="primary" style='float: right;' (click)='editUser()'>
          <ion-spinner *ngIf="apiResult.loading">
          </ion-spinner>
          <ion-label *ngIf="!apiResult.loading">Save</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>