<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-text-center">
        <ion-col>
          <ion-title *ngIf="mode == 0">{{ 'modal.assign-eletromers' | translate }} {{ user.name }}</ion-title>
          <ion-title *ngIf="mode == 1">{{ 'modal.assign-users' | translate }} {{ user.name }}</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-justify-content-start" size="12">
        <ion-searchbar value="{{searchValue}}" (keyup)="updateFilter($event)"></ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-justify-content-start" size-md="2">
        <ion-select [(ngModel)]="filterOption" (ionChange)="updateFilter('')" placeholder="Filter">
          <ion-select-option [value]="e.value" *ngFor="let e of searchOptions">{{e.text}}</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- Theme classes dark, material, bootstrap -->
  <ngx-datatable #table class="{{theme}}" [limit]="10" [rows]="data" [rowHeight]="50" [columnMode]="'force'" [sortType]="'multi'" [loadingIndicator]="apiResult.loading" [headerHeight]="50" [footerHeight]="50">
    <ngx-datatable-column *ngIf="mode == 0" name="Id" prop="id" width="80">
    </ngx-datatable-column>
    <ngx-datatable-column *ngIf="mode == 0" name="Name" prop="name" width="80">
    </ngx-datatable-column>
    <ngx-datatable-column *ngIf="mode == 0" name="db_table" prop="db_table" width="80">
    </ngx-datatable-column>
    <ngx-datatable-column *ngIf="mode == 0" name="delta" prop="delta" width="80">
    </ngx-datatable-column>
    <ngx-datatable-column *ngIf="mode == 0" name="type" prop="type" width="80">
    </ngx-datatable-column>
    <ngx-datatable-column *ngIf="mode == 0" name="Akcie" prop="id">
      <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
        <ion-fab vertical="center" slot="fixed" style="text-align: justify;">
        <ion-button *ngIf="row.toggler === 'ACTIVATED'" (click)="assigningElectromerAlert(row)" (ionChange)="myChange(row)" color="danger">Deassign</ion-button>
        <ion-button *ngIf="row.toggler === 'DEACTIVATED'" (click)="assigningElectromerAlert(row)" (ionChange)="myChange(row)">Assign</ion-button>
      </ion-fab>
        <ion-spinner *ngIf="row.toggler === 'PENDING'" color="primary"></ion-spinner>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="mode == 1" name="Name" prop="name" width="80">
    </ngx-datatable-column>
    <ngx-datatable-column *ngIf="mode == 1" name="Email" prop="email" width="80">
    </ngx-datatable-column>
    <ngx-datatable-column *ngIf="mode == 1" name="Role" prop="is_admin" width="80">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <ion-label *ngIf="value == 1">
          {{ 'common.admin' | translate }}
        </ion-label>
        <ion-label *ngIf="value == 0">
          {{ 'common.user' | translate }}
        </ion-label>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column *ngIf="mode == 1" name="Akcie">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <ion-fab vertical="center" slot="fixed">
        <ion-button *ngIf="row.toggler === 'ACTIVATED'" (click)="assignUserToAdminAlert(row)" (ionChange)="myChange(row)" color="danger">Deassign</ion-button>
        <ion-button disabled="{{row.admin_id != null}}" *ngIf="row.toggler === 'DEACTIVATED'" (click)="assignUserToAdminAlert(row)" (ionChange)="myChange(row)">Assign</ion-button>
        </ion-fab>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="light" style='float: left;' (click)='dismiss()'>Cancel</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>