<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>    <ion-button color="danger" style='float: left;' (click)='dismiss()'>Close</ion-button>
        </ion-col>
        <ion-col>    <ion-title>{{ user['name'] }}</ion-title>
        </ion-col>
        <ion-col>    <ion-button color="primary" style='float: right;' (click)='save()'>Confirm</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <input type="text" style="padding:8px;margin:15px auto;width:30%;" placeholder="Type to filter the name column..."
      (keyup)="updateFilter($event)" />
    <!-- Theme classes dark, material, bootstrap -->
    <ngx-datatable #table class="material" [limit]="10" [rows]="electromers" [rowHeight]="50" [columnMode]="'force'"
      [sortType]="'multi'" [loadingIndicator]="apiResult.loading" [headerHeight]="50" [footerHeight]="50">

      <ngx-datatable-column name="Id" prop="id" width="80">
      </ngx-datatable-column>
      <ngx-datatable-column name="Name" prop="name" width="80">
      </ngx-datatable-column>
      <ngx-datatable-column name="db_table" prop="db_table" width="80">
      </ngx-datatable-column>
      <ngx-datatable-column name="delta" prop="delta" width="80">
      </ngx-datatable-column>
      <ngx-datatable-column name="type" prop="type" width="80">
      </ngx-datatable-column>
      <ngx-datatable-column name="Akcie" prop="id">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <!-- <ion-checkbox color="primary" onchange="update(value)" slot="start"></ion-checkbox> -->
          <ion-button color="primary" style='float: right;' (click)="update(value)">
            <ion-spinner *ngIf="apiResult.loading"></ion-spinner>
            <ion-label *ngIf="!apiResult.loading">Assign</ion-label>
          </ion-button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</ion-content>