ion-card {
    margin: 0 auto;

    ion-card-header {
        height: 220px; // 20vh;
        // background: radial-gradient(#e66465, #9198e5);
        background: lightgray;

        ion-avatar {
            width: 160px; //40vw
            height: 160px;
            position: relative;
            margin: 0 auto;

            img {
                display: block;
                border-radius: 50%;
                position: absolute;
                bottom: calc(-1*(80px + 4px)); // -42px;
                border: 3px solid #fff;
                background-color: #fff;
            }

            ion-skeleton-text{
                border-radius: 50%;
                position: absolute;
                border: 3px solid #fff;
                background-color: #fff;
                bottom: calc(-1*(80px + 4px)); // -42px;
            }
        }
    }
}

ion-toolbar {
    --background: transparent;
}

ion-chip {
    --background: #3f70da;
    --color: #fff;
}

  .user-meta {
    padding-top: 60px;

    .name {
        font-size: 24px;
        font-weight: 600;
        color: #303940;

        ion-skeleton-text{
            margin: 0 auto;
            padding: 4px;
        }
    }

    .email {
        font-size: 16px;
        color: #949ea6;
        margin-top: 6px;

        ion-skeleton-text{
            margin: 0 auto;
            padding: 1px;
        }
    }

    .skeleton-numbers{

        margin-top: 12px;

        ion-skeleton-text{
            margin: 0 auto;
            padding: 6px;
            width: 20%;
        }
    }

}

.count-title {
    font-size: 24px;
}

#data {
    display: none;
}

#skeleton {
    display: block;
}