<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Users management</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div class="ion-padding">
    <input type="text" style="padding:8px;margin:15px auto;width:30%;" placeholder="Type to filter the name column..."
      (keyup)="updateFilter($event)" />
    <!-- Theme classes dark, material, bootstrap -->
    <ngx-datatable #table class="material" [limit]="10" [rows]="users" [rowHeight]="50" [columnMode]="'force'"
      [sortType]="'multi'" [loadingIndicator]="apiResult.loading" [headerHeight]="50" [footerHeight]="50">

      <ngx-datatable-column name="Name" prop="name" width="80">
      </ngx-datatable-column>
      <ngx-datatable-column name="Email" prop="email" width="80">
      </ngx-datatable-column>
      <ngx-datatable-column name="Akcie" prop="user">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <ion-button (click)="viewElectromers(row)">
            Modify
            <ion-icon name="arrow-redo"></ion-icon>
          </ion-button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>

</ion-content>