<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-toggle auto-hide="false" menu="main-menu">
          <ion-button (click)="toggleMenu()">
              <ion-icon slot="icon-only" name="menu"></ion-icon>
          </ion-button>
      </ion-menu-toggle>
  </ion-buttons>
    <ion-title>Users</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-searchbar (ionChange)="getItems($event)" (keyup)="updateFilter($event)">
        </ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="ion-padding">
        <!-- Theme classes dark, material, bootstrap -->
        <ngx-datatable #table class="{{theme}}" [limit]="10" [rows]="users" [rowHeight]="50" [columnMode]="'force'"
          [sortType]="'multi'" [loadingIndicator]="apiResult.loading" [headerHeight]="50" [footerHeight]="50"
          style="elevation: 0;"
          >
          <ngx-datatable-column name="Name" prop="name" width="80">
          </ngx-datatable-column>
          <ngx-datatable-column name="Email" prop="email" width="80">
          </ngx-datatable-column>
          <ngx-datatable-column name="Role" prop="is_admin" width="80">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <ion-label *ngIf="value == 1">
                Admin
              </ion-label>
              <ion-label *ngIf="value == 0">
                User
              </ion-label>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Akcie" [frozenRight] = "true" slot="end">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <ion-fab vertical="center" slot="fixed">
              <ion-fab-button (click)="presentActionSheet(row)" size="small">
                <ion-icon name="open-outline"></ion-icon>
              </ion-fab-button>
            </ion-fab>
              <!-- <ion-fab-list side="end">
                <ion-fab-button *ngIf="row.is_admin == 1" size="small" color="light" (click)="viewElectromers(row)">
                  <ion-icon name="color-wand-outline"></ion-icon>
                </ion-fab-button>
                <ion-fab-button *ngIf="user.is_superadmin && row.is_admin != 1" size="small" color="light" (click)="putRightsAlert(row)">
                  <ion-icon name="key-outline"></ion-icon>
                </ion-fab-button>
                <ion-fab-button *ngIf="user" size="small" color="light" (click)="editUser(row)">
                  <ion-icon name="pencil-outline"></ion-icon>
                </ion-fab-button>
                <ion-fab-button *ngIf="user.is_superadmin && row.is_admin == 1" size="small" color="light" (click)="assignUserToAdminModal(row)">
                  <ion-icon name="person-add-outline"></ion-icon>
                </ion-fab-button>
              </ion-fab-list> -->
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
        </div>
</ion-content>