<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-text-center">
        <ion-col>
          <ion-label *ngIf="request.status_id == 2">
            {{ 'common.accepted' | translate }}
          </ion-label>
          <ion-title>{{ 'common.request-preview' | translate }</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-progress-bar *ngIf="apiResult.loading" type="indeterminate">
      </ion-progress-bar>
  <ion-card class="ion-no-border">
    <ion-card-header>
      <ion-card-subtitle>{{ 'common.subject' | translate }</ion-card-subtitle>
      <ion-card-title>{{ request.subject }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            {{ request.body }}
          </ion-col>
        </ion-row>
        <ion-row class="vertical-align-content">
          <ion-col>
            <ion-button fill="outline" (click)="doDownload(request.file_id)">
              <ion-icon  *ngIf="!isDownloadingFile" lazy="true" slot="start" name="document-attach-outline"></ion-icon>
              <ion-label  *ngIf="!isDownloadingFile" slot="end">{{ 'common.attachment' | translate }</ion-label>
              <ion-spinner *ngIf="isDownloadingFile"></ion-spinner>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-card-subtitle>
              <ion-label>
                {{ formateDate(request.created_at) | date: 'dd.MM.yyyy HH:mm:ss' }}
              </ion-label>
            </ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label *ngIf="request.status_id == 3">
          {{ 'common.rejected' | translate }
        </ion-label>
      </ion-col>
    </ion-row>
      <ion-row *ngIf="apiResult.error">
      <ion-col>
        <ion-label>
          {{ apiResult.error }}
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button disabled="{{apiResult.loading}}" fill="outline" color="primary" (click)='cancel()'>{{ 'common.cancel' | translate }</ion-button>
      </ion-col>
      <ion-col class="ion-text-end">
        <ion-button disabled="{{apiResult.loading}}" fill="outline" color="danger" (click)='decline()'>{{ 'common.reject' | translate }</ion-button>
        <ion-button disabled="{{apiResult.loading}}" fill="outline" color="success" (click)='accept()'>{{ 'common.accept' | translate }</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>