ion-chip:hover {
    cursor: pointer;
}

ion-icon:hover {
    cursor: pointer;
}

html,
ion-content {
	--ion-background-color: #d1d1d1;
}

ion-card, ion-searchbar {
	--ion-background-color: #ffffff;
}

@media (min-width: 768px) {
    .ion-hide-sm-up {
      display: none !important;
    }
  }
  @media (max-width: 768px) {
    .ion-hide-sm-down {
      display: none !important;
    }
  }