<ion-app>
  <ion-split-pane contentId="main">
    <ion-menu side="start" class="bg-image" contentId="main">
      <ion-header>
        <!-- <ion-toolbar class="background-image">
          <div class="menu ion-text-start">
          <h4 class="title">Electromer</h4>
          <h5 class="sub-title">Team Project</h5>
        </div>
        </ion-toolbar> -->
        </ion-header>
      <ion-content>
        <div class="my-overlay" *ngIf="showOverlay">
          <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
        </div>
        <ion-list class="transparent">
          <div *ngFor="let p of appPages">
            <ion-menu-toggle auto-hide="false" *ngIf="p.url">
              <ion-item color="none" lines="none" [routerDirection]="'root'" [routerLink]="[p.url]" routerLinkActive="active">
                <ion-icon slot="start" [name]="p.icon"></ion-icon>
                <ion-label>
                  {{p.title}}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
            <ion-item-divider color="none" *ngIf="p.children?.length > 0"></ion-item-divider>
            <ion-item color="none" lines="none" button *ngIf="p.children?.length > 0" (click)="p.open = !p.open" [class.active.parent]="p.open"
              detail="false">
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
              <ion-icon slot="end" name="chevron-up" *ngIf="!p.open"></ion-icon>
              <ion-icon slot="end" name="chevron-down" *ngIf="p.open"></ion-icon>
            </ion-item>

            <ion-list class="transparent" *ngIf="p.open" >
              <ion-menu-toggle auto-hide="false">
                <ion-item color="none" lines="none" class="sub-item" *ngFor="let sub of p.children"  [routerDirection]="'root'" [routerLink]="[sub.url]" routerLinkActive="active">
                  <ion-icon slot="start" [name]="sub.icon"></ion-icon>
                  <ion-label>
                    {{sub.title}}
                  </ion-label>
                </ion-item>
                <ion-item color="none" lines="none" class="sub-item" (click)="logout()" routerLinkActive="active">
                  <ion-icon slot="start" name="log-out"></ion-icon>
                  <ion-label>
                    Logout
                  </ion-label>
                  <ion-spinner color="primary" *ngIf="apiResult.loading">
                  </ion-spinner>
                </ion-item>
              </ion-menu-toggle>
            </ion-list>
          </div>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main">
      <ion-title>Electromer</ion-title>
    </ion-router-outlet>
  </ion-split-pane>
</ion-app>