<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-toggle auto-hide="false" menu="main-menu">
          <ion-button (click)="toggleMenu()">
              <ion-icon slot="icon-only" name="menu"></ion-icon>
          </ion-button>
      </ion-menu-toggle>
  </ion-buttons>
    <ion-title>Electromers</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-justify-content-start" size="4">
          <ion-searchbar (keyup)="updateFilter($event)"></ion-searchbar>
        </ion-col>
        <ion-col *ngIf="user.is_superadmin == 1"  class="ion-justify-content-end" size="1">
          <ion-fab>
            <ion-fab-button size="small" (click)="showModal()">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="ion-padding">
    <!-- Theme classes dark, material, bootstrap -->
    <ngx-datatable #table class="{{theme}}" [limit]="10" [rows]="electromers" [rowHeight]="50" [columnMode]="'force'"
      [sortType]="'multi'" [loadingIndicator]="apiResult.loading" [headerHeight]="50" [footerHeight]="50">

      <ngx-datatable-column name="Name" prop="name" width="80">
      </ngx-datatable-column>
      <ngx-datatable-column name="Db_table" prop="db_table" width="80">
      </ngx-datatable-column>
      <ngx-datatable-column name="Delta" prop="delta" width="80">
      </ngx-datatable-column>
      <ngx-datatable-column name="Type" prop="type" width="80">
      </ngx-datatable-column>
      <ngx-datatable-column *ngIf="user.is_superadmin == 1"  name="Akcie" prop="akcie">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>

        <ion-fab vertical="center" slot="fixed">
          <ion-button fill="outline" color="primary" (click)="editElectromer(row)">
            Edit
          </ion-button>
      </ion-fab>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
    </div>
</ion-content>