<ion-header>  
  <ion-toolbar>  
    <ion-grid>
      <ion-row>
        <ion-col>    <ion-button color="danger" style='float: left;' (click)='dismiss()'>Close</ion-button>
        </ion-col>
        <ion-col>    <ion-title>{{ user['name'] }}</ion-title>  
        </ion-col>
        <ion-col>    <ion-button color="primary" style='float: right;' (click)='save()'>Confirm</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>  
</ion-header>  
  
<ion-content>  
  <ion-list>  
  <!-- Loops through and creates multiple items -->
  <!-- <ion-item *ngFor="let item of allElectromers">
    Item {{item}}
  </ion-item> -->
  <ion-item *ngFor="let item of listElectromers">
    <ion-label>{{ item.name }}</ion-label> 
    <ion-toggle checked>Priradenie</ion-toggle>
  </ion-item>
 
  </ion-list>  
</ion-content>  